<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.c301t3.c301t3app">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_planet"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_planet"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity" />
        <!--
         Here is how we are going to add a parent via the XML portion. Gonna use the like this
         Also need to change Main Activity to view 2 name. Implement this when there are  actual java  classes for each screen.
        -->
        <activity
            android:name=".SelectedTaskActivity"
            android:label="@string/selected_task_activity"
            android:parentActivityName=".MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.c301t3.c301t3app.MainMenuActivity" />
        </activity>
        <activity
            android:name=".BiddingScreen"
            android:label="@string/bidding_screen"
            android:parentActivityName=".MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.c301t3.c301t3app.MainMenuActivity" />
        </activity>
        <activity
            android:name=".MyTasksActivity"
            android:label="@string/my_tasks"
            android:parentActivityName=".MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.c301t3.c301t3app.MainMenuActivity" />
        </activity>
        <activity android:name=".SimpleLoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".UserProfile" />
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/main_menu_activity" />
        <activity
            android:name=".NewTaskActivity"
            android:label="@string/new_task"
            android:parentActivityName=".MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.c301t3.c301t3app.MainMenuActivity" />
        </activity>
        <activity
            android:name=".ViewBidsActivity"
            android:label="@string/activity_view_bids"
            android:parentActivityName=".ViewBidsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.c301t3.c301t3app.MyTasksActivity" />
        </activity>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".FindTaskonMapActivity"
            android:label="@string/title_activity_maps">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.c301t3.c301t3app.SelectedTaskActivity" />
        </activity>
        <activity
            android:name=".addingTaskLocal"
            android:label="@string/title_activity_adding_task_local">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.c301t3.c301t3app.NewTaskActivity" />
        </activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TaskOwnerProfile"
            android:label="@string/contact_information" />
    </application>

</manifest>