<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.c301t3.c301t3app">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_planet"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_planet"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
         Here is how we are going to add a parent via the XML portion. Gonna use the like this
         Also need to change Main Activity to view 2 name. Implement this when there are  actual java  classes for each screen.
        -->
        <activity
            android:name=".SelectedTaskActivity"
            android:label="selected_task_activity"
            android:parentActivityName=".MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.c301t3.c301t3app.MainMenuActivity" />
        </activity>
        <activity
            android:name=".BiddingScreen"
            android:label="bidding_screen"
            android:parentActivityName=".MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.c301t3.c301t3app.MainMenuActivity" />
        </activity>
        <activity
            android:name=".MyTasksActivity"
            android:label="my_tasks"
            android:parentActivityName=".MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.c301t3.c301t3app.MainMenuActivity" />
        </activity>
        <activity android:name=".SimpleLoginActivity" />
        <activity android:name=".RegisterActivity">

        </activity>
        <activity
            android:name=".MainMenuActivity"
            android:label="main_menu_activity">
        </activity>

        <activity
            android:name=".NewTaskActivity"
            android:label="New task"
            android:parentActivityName=".MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.c301t3.c301t3app.MainMenuActivity" />
        </activity>
        <activity android:name=".ViewBidsActivity"></activity>
    </application>

</manifest>